* {
    box-sizing: border-box;
}

ul{
    font-size:  2rem;
}

li{
    font-size: 1rem;
}
.square-big {
    background-color: pink;
    width: 100vw;
    height: 50vh;
}
.square-small {
    background-color: red;
    width: 50%;
    height: 50%;
}
img {
    width: 350px;
}